@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Playwrite+AU+SA:wght@100..400&display=swap');
:root{
    --body-color:#fef9ef;
    --blue-font:#3b4ca4;
    --lighter-blue:#6d74de;
    --pista: #668406;
}
body{
    background-color: var(--body-color);
}
nav{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    align-items: center;
    gap: 20px;
    /* border: 2px solid; */
}
nav .logo{
    font-family: "Boldonse", system-ui;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 300;
}
nav .links{
    font-family: "Boldonse", system-ui;
    font-size: 10px;
    font-style: normal;
    display: flex;
    gap: 12px;
}
.home{
    /* background-color: aqua; */
    display: flex;
    width: 90vw;
    height: 60vh;
    margin-top: 20px !important;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    line-height: 1.6;
    align-items: center;
    position: relative;
    z-index: 1;
}
.text{
    color: var(--blue-font);
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}
.text :nth-child(1){
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;
}
.sub {
    font-family: "Boldonse", system-ui;
    font-size: 20px;
    color: var(--pista);
}
.text .heaven{
    font-size: 40px;
    font-weight: 200;
    color: var(--lighter-blue);
}
.text .flavor{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 2px #1A237E;
    margin: 0;
}
.flavor img{
    height: 50px;
}
.illus{
    width: 40%;
    text-align: right;
    position: relative;
    z-index: 0;
}
.illus img{
    width: 100%; 
    transform: scale(1.2);
}