
.Home{
    position: relative;
}
.home-content{
    position: relative;
    z-index: 1;
    text-align: center;
}
.tag-head{
    color: #ff8a0c;
}
.heading{
    color: white;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading span img{
    width: 12vw;
    height: 8vh;
    object-fit: cover;
    object-position: center top;
    border-radius: 40px;

}
#last-line{
    position: relative;
}
#mid-line{
    position: relative;
    /* border: 2px solid yellow; */
    width: max-content;
    margin: auto;
}
#big-star{
    color: #ff8a0c;
    position: absolute;
    left: -50px;
    width: 4vw;
}
#accent-box{
    color: #4e8bf5;
    width: 6vw;
    position: absolute;
    bottom: -20px;
    rotate: 60deg;
    margin-left: 15px;
}

/* APE IMAGE SECTION */

#head-image{
    /* border: 2px solid white; */
    height: 600px;
    position: relative;
    padding: 10px;
    margin: auto;
    /* width: 90%; */
    /* border: 2px solid red; */
}
#head-image p{
    /* border: 2px solid white; */
    color: white;
    width: 300px;
    position: absolute;
    font-size: 16px;
}
#head-image .left-cont{
    text-align: right;
    top: 60%;
    right: 65%;
}
#head-image .right-cont{
    text-align: left;
    width: 200px;
    top: 20%;
    left: 75%;

}
.ape{
    height: 100%;
    width: 200px;
    margin: auto;
    /* border: 2px solid blue; */
    position: relative;
}
.shadow-box{
    /* border: 2px solid red; */
    height: 500px;
    width: 200px;
    position: absolute;
    top: 8%;
    left: 50%;
    background: linear-gradient(to bottom, #474747, #6a6fc9);
    border-radius: 120px;
    z-index: 1;
}
.ape img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 120px;
    position: relative;
    z-index: 2;
}
.long{
    border: 1px solid #7d7d80;
    position: absolute;
    z-index: 3;
    border-radius: 50px;
}
.long1{
    width: 60px;
    height: 150px;
    right: 6%;
    top: 30%;
}
.long2{
    width: 60px;
    height: 60px;
    right: 15%;
    top: 60%;
}
.long3{
    width: 150px;
    height: 60px;
    left: 15%;
    top: 55%;
}
.long4{
    width: 80px;
    height: 30px;
    left: 7%;
    top: 50%;
}
.long5{
    width: 30px;
    height: 30px;
    right: 30%;
    bottom: 0%;
}

/* Tablet Layout (2 rows of 3 columns) */
/* Max width for tablets, e.g., up to 1024px */
@media (max-width: 1024px) {
    #head-image{
    height: 500px;
}
#head-image p{
    width: 150px;
    font-size: 14px;
}
#head-image .left-cont{
    text-align: right;
    top: 60%;
    right: 65%;
}
#head-image .right-cont{
    text-align: left;
    width: 120px;
    top: 20%;
    left: 75%;

}
.ape{
    height: 95%;
    width: 150px;
}
.shadow-box{
    height: 350px;
    width: 130px;
    top: 13%;
    left: 50%;
}
.long1{
    width: 40px;
    height: 100px;
    right: 6%;
    top: 30%;
}
.long2{
    width: 40px;
    height: 40px;
    right: 15%;
    top: 65%;
}
.long3{
    width: 100px;
    height: 40px;
    left: 15%;
    top: 55%;
}
.long4{
    width: 80px;
    height: 20px;
    left: 7%;
    top: 50%;
}
.long5{
    width: 30px;
    height: 30px;
    right: 30%;
    bottom: 0%;
}
}

/* done till here -------------------------------------------------- */

/* Mobile Layout (2 rows of 1 column) */
/* Max width for mobile phones, e.g., up to 576px */
@media (max-width: 576px) { 
    #head-image{
    /* border: 2px solid white; */
    height: 400px;
}
#head-image p{
    width: 100px;
    font-size: 10px;
}
#head-image .left-cont{
    text-align: right;
    top: 60%;
    right: 65%;
}
#head-image .right-cont{
    width:80px;
    font-size: 10px;

}
.ape{
    height: 100%;
    width: 100px;
}
.shadow-box{
    height: 300px;
    width: 100px;
    top: 10%;
    left: 47%;
}
.long1{
    width: 30px;
    height: 100px;
}
.long2{
    width: 30px;
    height: 30px;
}
.long3{
    width: 100px;
    height: 20px;
    left: 8%;
    top: 55%;
}
.long4{
    width: 60px;
    height: 10px;
    left: 7%;
    top: 50%;
}
.long5{
    width: 20px;
    height: 20px;
    right: 30%;
    bottom: 0%;
}
}