/* LAST PAGE */
.Start{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 2px solid red; */
}
.Start p{
    color: #f07d37;
}
.Start h2{
    color: white;
}
.Start p , .Start h2{
    margin: 0;
}
.gs-table{
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gs-table-row{
    width: 100%;
    /* border: 2px solid white; */
    color: rgb(129, 128, 128);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 210, 210);
}
.gs-table-row .gs-col1{
 width: 25%;   
 /* border: 2px solid red; */
 word-wrap: break-word;
 padding-left: 20px;

}
.gs-table-row .gs-col2{
 width: 25%;  
 /* border: 2px solid red;  */
}
.gs-table-row .gs-col3{
 width: 50%;  
  color: rgb(207, 205, 205); 
}

/* Responsiveness */
@media (max-width: 1024px) {
    /* LAST PAGE */
    .gs-table-row .gs-col2{
        font-size: 24px;
    }
    .gs-table-row .gs-col3{
        font-size: 14px;
    }
}

/* Done till here---------------------------------------------------------------- */
@media (max-width: 576px) {
    /* LAST PAGE */
    .gs-table-row .gs-col2{
        font-size: 16px;
    }
    .gs-table-row .gs-col1{
        font-size: 12px;
    }
    .gs-table-row .gs-col3{
        font-size: 8px;
    }
}