@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Savate:ital,wght@0,200..900;1,200..900&family=Special+Gothic+Expanded+One&display=swap');
:root{
    --neon-green:#d3ed06;
    --green-l1:#a2d123;
    --green-l2:#7dc221;
    --green-l3:#4ea134;
    --green-l4:#307f3d;
    --green-l5:#14493b;
    --green-l6:#07282d;
    --grren-l7:#03090f;
    --michroma-font:"Michroma", sans-serif;
    --poppins-font:"Poppins", sans-serif;
    --Bebas-font:"Bebas Neue", sans-serif;
    --gothic-font:"Special Gothic Expanded One", sans-serif;
    --savate-font:"Savate", sans-serif;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}
.main{
    background: linear-gradient(to top, var(--neon-green),var(--green-l1),var(--green-l2),var(--green-l3),var(--green-l4),var(--green-l5),var(--green-l6),var(--grren-l7));
    position: relative;
    padding-bottom: 50px;
}
nav{
    width: 90vw; 
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
#logo{
    font-size: 24px;
    font-family: var(--gothic-font);
    color: var(--green-l1);
    font-style: italic;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
li{
    list-style: none;
    color: rgba(255, 255, 255, 0.637);
    font-family: var(--poppins-font);
    font-size: 14px;
}
nav button{
    padding: 10px 20px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--neon-green);
    color: black;
    font-weight: bold;
    font-family: var(--poppins-font);
    font-size: 14px;
}
.maingrid{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 20px;
    row-gap: 5px;
    column-gap: 10px;
    /* margin-bottom: 50px; */
    position: relative;
}
.head{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    text-align: center;
    z-index: 3;
}
.head h1{
    color: rgba(255, 255, 255, 0.973);
    font-size: 5vw;
    font-family: var(--michroma-font);
}
.head p{
    color: rgba(255, 255, 255, 0.582);
    font-size: 1.5vw;
    font-family: var(--gothic-font);
}
.head button{
    background-color: var(--neon-green);
    border: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: var(--poppins-font);
    font-family: 14px;
}
.left{
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    z-index: 5;
}
.left h2{
    font-size: 2vw;
    font-family: var(--gothic-font);
}
.left h3{
    font-size: 1.5vw;
    font-family: var(--poppins-font);
}
.left p{
    font-size: 1.5vw;
    font-family: var(--poppins-font);
}
.leftbox{
    width: 250px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.685);
    padding: 5px;
    border-radius: 15px;
    position: relative;
}
#minininja{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.minileftbox{
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid var(--green-l1);
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 15px;
}
.arrow{
    background-color: var(--green-l1);
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 16px;
}
.mid{
    grid-column: 2/3;
    grid-row: 2/4;
    /* border: 2px solid white; */
    position: relative;
}
#ninja{
    height:100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}
.right{
    grid-column: 3/4;
    grid-row: 2/3;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 10px;
    color: white;
    position: relative;
    z-index: 5;
}
.right h1{
    font-size: 3vw;
    font-family: var(--michroma-font);
}
.right p{
    font-size: 1.5vw;
    font-family: var(--Bebas-font);
    color: var(--green-l6);
}
.gridfoot{
    grid-column: 1/4;
    grid-row: 3/4;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}
.gridfoot button{
    width: 250px;
    padding: 5px 10px;
    border-radius: 10px;
    border: transparent;
    font-family: var(--poppins-font);
    font-size: 14px;
}
.gridfoot button:nth-child(1){
    background-color: white;
    color: black;
    font-weight: bold;
}
.gridfoot button:nth-child(2){
    background-color: var(--neon-green);
    color: black;
    font-weight: bold;
}
.gridfoot button:nth-child(3){
    background-color: #14493b;
    color: white;
    font-weight: bold;
}
#grass{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}