@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --neon:#cefd06;
}

.main{
    background-color: navy;
    overflow: hidden;
}

/* NAVBAR STARTS */

nav{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: beige;
    display: flex;
    width: 90vw;
    margin: auto;
    /* border: 2px solid; */
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
nav .logo{
    font-size: 36px;
}
nav button{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: var(--neon);

}

nav button:hover{
    transform: scale(1.1);
}

/* NAVBAR ENDS */

/* HOME PAGE */
.home{
    /* border: 2px solid red; */
    margin-top: 50px;
    position: relative;
    padding: 20px;
    
}
.grid{
    display: flex;
    gap: 20px;
    width: 90vw;
    margin: auto;
    /* border: 2px solid orange; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home .band{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    width: max-content;
    font-size: 18px;
    left:0;
    bottom: 0;
    padding: 10px 0;
    transform: rotate(3deg) translateY(120px) translateX(-200px);
    background-color: var(--neon);
    color: black;
    z-index: 10;
    overflow: hidden;
}
.home .band h1 {
    white-space: nowrap; /* Prevent wrapping */
    font-size: 24px; /* Fixed: no space between number and unit */
    margin: 0; /* Remove default h1 margin */
    padding: 0 10vw; /* Add side padding so text doesn't touch edges */
  }

/* Left Grid */

.leftgrid{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: beige;
    width: 20%;
}
.leftgrid .review{
    width: 150px;
    height: auto;
    /* border: 2px solid; */
}
.review img{
    width: 100%;
    border-bottom: 2px solid;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 150px;
}
.s1 , .s2 , .s3 {
    line-height: 0.5;
    border-bottom: 2px solid;
}

/* Midgrid */

.home .midgrid{
    position: relative;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.midgrid .base{
    position: absolute;
    font-size: clamp(3rem,8vw,8rem);
    font-weight: 900;
    z-index: 0;
    text-align: center;
    /* border: 2px solid; */
    line-height: 0.9;
    color: var(--neon);
    text-transform: uppercase;
}
.midgrid img{
    position: relative;
    z-index: 1;
    max-height: 70vh;
    width: auto;
    height: auto;
    object-fit: contain;
    /* border: 2px solid; */
}
.midgrid .topper{
    
    position: absolute;
    z-index: 2;
    font-size: clamp(3rem,8vw,8rem);
    font-weight: 900;
    z-index: 2;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px var(--neon);
    line-height: 0.9;
    text-transform: uppercase;
}

/* Rightgrid */

.home .rightgrid{
    width: 20%;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.rightgrid .star{
    width: 60px;
    transform: rotate(20deg);
    border: 2px solid var(--neon);
    padding: 10px;
    border-radius: 50px;
}
.rightgrid .arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
}
.rightgrid .arrow:hover{
    
    transform: scale(1.2);
}
/* Homepage Ends */

.page2{
    background-color: rgb(53, 51, 51);
}

@media only screen and (max-width: 1092px) {
    .h , .au , .os , .p , .cu , .bt {
        display: none;
    }
    .menu-toggle {
        display: inline-block;
      }
    nav{
        justify-content: space-between;
    }
    nav span:not(.logo) {
    display: none;
    }
}